* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  height: 4rem;
  background-color: #7bf0f0;
  color: gray;
  align-items: center;
  justify-content: center;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
nav a {
  padding: 1.25rem;
  width: 25%;
  text-align: center;
  transition-duration: 0.4s;
}
nav a:hover {
  color: black;
  background-color: lightblue;
}
#logo {
  position: absolute;
  left: 25%;
}
.blob-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-text {
  text-align: center;
}
.blob-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blob-list-item img {
  height: 15rem;
  width: 15rem;
}

.single-blob-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.single-blob-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 10rem;
}
.routes-container {
  width: 60%;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.blob-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 30rem;
  max-width: 30rem;
}

.blob-eye {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 30rem;
  max-width: 30rem;
}

.blob-mouth {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 30rem;
  max-width: 30rem;
}
.blob-text-info {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.blob-button {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.blob-button:focus {
  outline: 0;
}

.blob-button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.blob-button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .blob-button {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
